<div class="card" id="card1">
<%= form_with(model: @note, local: true) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h5><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h5>
      <ul class="mb-0">
      <% @note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, :class => 'form-control', :placeholder => 'Title', :required => true %>
  </div>
  <div class="form-group">
      <%= f.label :content %>
      <lexxy-editor name="note[content]" value="<%= f.object.content %>" placeholder="Note" required="required"></lexxy-editor>
  </div>
  <div class="form-check mb-3">
      <%= f.check_box :public, :class=> 'form-check-input', :id => 'publicCheck' %>
      <label class="form-check-label" for="publicCheck">Make this public</label>
  </div>
  <div class="text-center actions">
      <%= f.submit 'Save', :class => 'btn btn-dark' %>
  </div>
<% end %>
</div>
<script type="text/javascript">
    document.addEventListener("trix-file-accept", event => {
        event.preventDefault()
    })
</script>
