<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card-columns">
            <% @notes.each do |note| %>
            <div class="card" id="card-index">
                <div class="card-body">
                    <h4 class="card-title text-start"><%= note.title %></h4>
                    <p class="card-text"><%= sanitize note.content %></p>
                    <div class="note-actions-row">
                        <%= link_to raw('<i class="fa fa-eye"></i>'), note, class: 'btn btn-dark note-action-btn', title: 'View Note' %>
                        <%= link_to raw('<i class="fa fa-pencil"></i>'), edit_note_path(note), class: 'btn btn-dark note-action-btn', title: 'Edit Note' %>
                        <%= button_to raw('<i class="fa fa-trash-o"></i>'), note, method: :delete, data: { turbo_confirm: 'Are you sure you want to delete this note?' }, class: 'btn btn-dark note-action-btn', title: 'Delete Note' %>
                        <% if note.public? %>
                            <div data-controller="clipboard" style="display: inline-block;">
                                <input data-clipboard-target="source" type="hidden" value="<%= show_public_note_note_url(note) %>">
                                <button data-action="click->clipboard#copy" data-clipboard-target="button" class="btn btn-dark note-action-btn" title="Copy shareable link">
                                    <i class="fa fa-share-alt"></i>
                                </button>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>

<% if @pagy.pages > 1 %>
    <div class="digg_pagination d-flex justify-content-center">
        <%== pagy_bootstrap_nav(@pagy) %>
    </div>
<% end %>
