<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card-columns">
            <% @notes.each do |note| %>
            <div class="card" id="card-index">
                <div class="card-body">
                    <h4 class="card-title text-start"><%= note.title %></h4>
                    <p class="card-text"><%= sanitize note.content %></p>
                    <div class="text-center row" id="index-card-text-div">
                        <%= link_to '', note, class: 'btn btn-dark index-card-button card-link fa fa-eye index-link', title: 'View Note' %>
                        <%= link_to '', edit_note_path(note), class: 'btn btn-dark index-card-button card-link fa fa-pencil index-link', title: 'Edit Note' %>
                        <div class="button_to-container" style="display: inline-block;">
                            <%= button_to '', note, method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'btn btn-dark index-card-button card-link fa fa-trash-o index-link', style: 'border: none; background: transparent; padding: 0;', title: 'Delete Note' %>
                        </div>
                        <% if note.public? %>
                            <div data-controller="clipboard" style="display: inline-block;">
                                <input data-clipboard-target="source" type="hidden" value="<%= show_public_note_note_url(note) %>">
                                <button data-action="click->clipboard#copy" data-clipboard-target="button" class="btn btn-dark index-card-button" title="Copy shareable link" style="border: none;">
                                    <i class="fa fa-share-alt index-link"></i>
                                </button>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>

<% if @pagy.pages > 1 %>
    <div class="digg_pagination d-flex justify-content-center">
        <%== pagy_bootstrap_nav(@pagy) %>
    </div>
<% end %>
