<%= stylesheet_link_tag 'note' %>
<div class="card" id="show-card">
    <h3 id="show-h3" >
        <%= @note.title %>
    </h3>
    <div id="show-div-content">
        <p>
            <%= sanitize @note.content %>
        </p>
        <% if @note.public %>
        <div class="text-center my-3" id="show-div-public" data-controller="clipboard">
            <b>Public URL:</b>
            <input data-clipboard-target="source" type="text" readonly value="<%= show_public_note_note_url(@note) %>" class="form-control d-inline-block w-50 mx-2 text-center" style="background-color: #fff; cursor: text; vertical-align: middle;">
            <button data-action="click->clipboard#copy" data-clipboard-target="button" class="btn btn-dark" style="vertical-align: middle;">
              Copy Link
            </button>
        </div>
        <% end %>
    </div>
    <div class="text-center" id="show-div-button-row" style="display: flex; justify-content: center; align-items: center; gap: 10px; padding-bottom: 20px;">
        <button class="btn btn-dark index-card-button" ><%= link_to '', edit_note_path(@note), :class =>'fa fa-pencil index-link', title: 'Edit Note' %> </button>
        <button class="btn btn-dark index-card-button" > <%= link_to '', notes_path, :class =>'fa fa-hand-o-left index-link', title: 'Back to Notes' %></button>
        <div class="button_to-container" style="display: inline-block;">
            <%= button_to '', @note, method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'btn btn-dark index-card-button card-link fa fa-trash-o index-link', style: 'border: none; background: transparent; padding: 0;', title: 'Delete Note' %>
        </div>
    </div>
</div>
