<div class="card" id="card1">
<% form_for(@notice) do |f| %>
<%= f.error_messages %>

<div class="form-group">
    <%= f.label :title%>
    <%= f.text_field :title, :class => 'form-control', :placeholder => 'Name', :required => true %>
</div>
<div class="form-group">
    <%= f.label :content %>
    <%= f.hidden_field :content, :cols => '80', :rows => '20', :id => 'content', :class => 'form-control', :placeholder => 'Notice', :required => true %>
    <trix-editor input="content"></trix-editor>
</div>
<div class="form-check">
    <%= f.check_box :public, :class=> 'form-check-input', :id => 'publicCheck'%>
    <label class="form-check-label" for="publicCheck">Make this public</label>
</div>
<div class="text-center actions">
    <%= f.submit 'Save', :class => 'btn btn-dark'%>
</div>
<% end %>
</div>
<script type="text/javascript">
    document.addEventListener("trix-file-accept", event => {
        event.preventDefault()
    })
</script>
