<div class="container">
    <h2 class="text-center">Listing notices</h2>
    <div class="row ">
        <% @notices.each do |notice| %>
        <div class="col-sm-4" style="margin-top: 20px">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><%=h notice.title %></h5>
                    <p class="card-text mx-auto text-truncate"><%=h notice.content %></p>
                    <%= link_to 'Show', notice, :class => 'card-link fa fa-eye' %>
                    <%= link_to 'Edit', edit_notice_path(notice), :class => 'card-link fa fa-pencil' %>
                    <%= link_to 'Destroy', notice, :confirm => 'Are you sure?', :method => :delete, 
                                :class => 'card-link fa fa-trash-o' %>
                </div>
            </div>
        </div>

        <% end %>
    </div>

    <%= link_to 'New notice', new_notice_path %>
</div>
