<%= stylesheet_link_tag 'notice' %>
<h2 class="text-center">Notes</h2>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card-columns">
            <% @notices.each do |notice| %>
            <div class="card" id="card-index">
                <div class="card-body">
                    <h5 class="card-title text-start"><%=h notice.title %></h5>
                    <p class="card-text"><%= sanitize notice.content %></p>
                    <div class="text-center row" id="index-card-text-div">

                        <button class="btn btn-dark index-card-button"><%= link_to '', notice, :class => 'card-link fa fa-eye index-link' %> </button>
                        <button class="btn btn-dark index-card-button"> <%= link_to '', edit_notice_path(notice), :class => 'card-link fa fa-pencil index-link'%></button>
                        <button class="btn btn-dark index-card-button"> <%= link_to '', notice, :confirm => 'Are you sure?', :method => :delete, 
                                :class => 'card-link fa fa-trash-o index-link' %></button>

                    </div>
                </div>
            </div>

            <% end %>
        </div>
    </div>
</div>
<%= will_paginate @notices %>
