<%= stylesheet_link_tag 'notice' %>
<div class="card" id="show-card">
    <h3 id="show-h3" >
        <%=h @notice.title %>
    </h3>
<div id="show-div-content">
    <p>
        <%= sanitize @notice.content %>
    </p>
    <% if @notice.public %>
    <div class="text-center" id="show-div-public">
        <b>Public URL:</b>
        <%= public_note_url(@notice.public_token) %>
    </div>
    <% end %>
    </div class="row">
    <div class="text-center" id="show-div-button-row">
        <button class="btn btn-dark index-card-button" ><%= link_to '', edit_notice_path(@notice), :class =>'fa fa-pencil index-link' %> </button>
        <button class="btn btn-dark index-card-button" > <%= link_to '', notices_path, :class =>'fa  fa-hand-o-left index-link' %></button>
        <button class="btn btn-dark index-card-button" > <%= link_to '', @notice, :confirm => 'Are you sure?', :method => :delete, 
                                :class => 'card-link fa fa-trash-o index-link' %></button>
    </div>
</div>
