<%= stylesheet_link_tag 'public-notes'%>
<h2 class="text-center">Notes</h2>
<div class="row" id="div-public-notes-index">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card-columns">
            <% @notices.each do |notice| %>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><%=h notice.title %></h4>
                    <p class="card-text"><%= sanitize notice.content %></p>
                    <div class="user">
                    <% if notice.avatar? %>
                        <%= image_tag("/images/users/avatars/#{notice.user_id}/thumb_#{notice.avatar}")%>
                    <% else %>
                        <img src="/images/users/avatars/thumb_placeholder-profile-pic.png" alt="profile_image" >
                    <% end %>
                    <div class="user-info">
                    <h5><%= notice.user_name %> </h5>
                    <small><%= notice.created_at %></small>
                    </div>
                    <%=link_to '', public_note_path(notice.public_token), :class => 'stretched-link' %>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>
<div class="digg_pagination">
<%= will_paginate @notices, :container => false %>
</div>
