<%= stylesheet_link_tag 'sessions' %>
<% form_for @user, :url => password_path(params[:id]) do |f| %>
  <h3 class="text-center">Reset Password</h3>
  <%= f.error_messages %>
  <div class='form-group'>
    <%= f.label :password %>
    <%= f.password_field :password, :class => 'form-control form-control1 input1', :placeholder => 'Password', 
                         :required => true %>
  </div>
  <div><%= f.submit 'Update password', :class => "btn btn-dark btn1" %></div>
<% end %>
