<%= stylesheet_link_tag 'sessions' %>
<% form_tag passwords_path, :method => :post do %>
<h3 class="text-center">Reset Password</h3>
  <div class='field'>
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email], :class => 'form-control form-control1 input1', :placeholder => 'Enter email', 
                       :required => true, :autofocus => true, :pattern => '[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$' %>
  </div>
    <div id="button-row">
    <%= submit_tag "Reset Password", :class => "btn btn-dark", :id => 'submitButton' %>
    <%= link_to "Sign In", login_path, :class => "btn btn-dark", :id => 'buttonLink'%>
  </div>
<% end %>
