<%= stylesheet_link_tag 'sessions' %>
<% form_for :user, :url => { :action => 'create' } do |form| %>
<%= form.error_messages %>
<h3 class="text-center">Sign Up</h3>
<div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, :id => 'name', :class => 'form-control', :placeholder => 'Enter your name', 
                        :required => true, :autofocus => true, :pattern => '/\A[^0-9`!@#\$%\^&*+_=]+\z/' %>
</div>
<div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, :id => 'email', :class => 'form-control', :placeholder => 'Enter email', 
                        :required => true, :autofocus => true, :pattern => '[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$' %>
</div>
<div class="form-group">
    <%= form.label :password%>
    <%= form.password_field :password, :id => 'password', :class => 'form-control', :placeholder => 'Password', 
                            :required => true%>
</div>
<div class="form-group">
    <%= form.label :confirm_password%>
    <%= form.password_field :password_confirmation, :id => 'password_confirmation', :class => 'form-control', 
                            :placeholder => 'Password', :required => true%>
</div>

<div>
    <%= form.submit 'Register', :class => 'btn btn-dark' %>
   <div class="text-center"> <small>Already have an account? <%= link_to 'Sign In', login_path%></small></div>
</div>
<% end %>
