<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>NoteIt</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Notices: <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'scaffold' %>
    <%= stylesheet_link_tag 'bootstrap' %>
    <%= stylesheet_link_tag 'bootstrap.min' %>
    <%= javascript_include_tag 'bootstrap' %>
    <%= javascript_include_tag 'bootstrap.min' %>
    <script src="https://use.fontawesome.com/8ab6cd1b8e.js"></script>
</head>

<body>
    <% if logged_in? %>
    <%= render 'layouts/nav_bar' %>
    <% end %>
    <% if flash[:notice] %>
    <p id="notice" class="text-center notice notice-success is-dismissable fade show"><%= flash[:notice] %></p>
    <% elsif flash[:alert]%>
    <div class="text-center alert alert-warning alert-dismissable fade show" role="alert">
        <strong><%= flash[:alert] %></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% end %>
    <div class="container my-3">
        <%= yield %>
    </div>
    <% unless flash[:alert] %>
    <script type="text/javascript">
        $('.alert').alert('close')
    </script>
    <% end %>
    <% unless flash[:notice] %>
    <script type="text/javascript">
        $('.notice').alert('close')
    </script>
    <% end %>
</body>

</html>
