<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>NoteIt</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Notices: <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'will-paginate' %>
    <%= stylesheet_link_tag 'notice' %>
    <%= stylesheet_link_tag 'trix' %>
    <%= stylesheet_link_tag 'bootstrap' %>
    <%= stylesheet_link_tag 'bootstrap.min' %>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'bootstrap' %>
    <%= javascript_include_tag 'bootstrap.min' %>
    <%= javascript_include_tag 'trix' %>
    <script src="https://use.fontawesome.com/8ab6cd1b8e.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Recursive&display=swap" rel="stylesheet">

</head>

<body class="main-body">
    <%= render 'layouts/nav_bar' %>
    <% if flash[:notice] %>
    <p id="notice" class="text-center notice notice-success is-dismissable fade show"><%= flash[:notice] %></p>
    <% elsif flash[:alert]%>
    <div class="text-center alert alert-warning alert-dismissable fade show" role="alert">
        <strong><%= flash[:alert] %></strong>
        <span type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </span>
    </div>
    <% end %>
    <div class="container my-3" >
        <%= yield %>
    </div>
    <% unless flash[:alert] %>
    <script type="text/javascript">
        $('.alert').alert('close');
    </script>
    <% end %>
    <% unless flash[:notice] %>
    <script type="text/javascript">
        $('.notice').alert('close');
    </script>
    <% end %>
</body>

</html>
